<!--The content below is only a placeholder and can be replaced.-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css"
  media="screen" type="text/css">

<mat-toolbar class="mat-elevation-z6 toolbar">
  <mat-toolbar-row>
    
    <i class='fab fa-speakap' style="color: aquamarine;font-size: 2.7rem;"></i>
    <span style="color: aquamarine;font-size: 1.7rem;">tockr</span>
    <span class="toolbar-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>
<div style="text-align:center">
  <h1>
    Welcome to Stock Forecasting!
  </h1>

</div>

<div class="main-container">
  <router-outlet></router-outlet>

</div>
